Google calender agent.json
{
  "name": "Google calender agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "test"
            },
            {
              "name": "sessionid"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        144
      ],
      "id": "35007586-a359-4b45-8518-df481f5b75d2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.test }}",
        "options": {
          "systemMessage": "=You are a Google Calendar Assistant that creates and manages calendar events with precise timing and details.\n\nAlways include:\n- title → (string) The name of the event. This field is required and must never be empty.\n- start → The exact start date and time of the event.\n- end → The exact end date and time of the event.\n- description → A short explanation of what the event is about.\n\nRules:\n1. Always use the user's local timezone (Africa/Lagos, UTC+1) for all events.\n2. NEVER shift or auto-convert the time you are given. \n   Example: If the user says \"4 PM\", the event must start exactly at 4 PM local time.\n3. If no end time is given, set the end time to 1 hour after the start time.\n4. Use the current date and time as {{$now}} when determining dates.\n5. When retrieving events (using the get event tool), summarize the response clearly in plain text, without links.\n\nIf the user only says a time (like \"4 PM\"), assume it’s for **today** in Africa/Lagos time unless otherwise stated.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -80,
        48
      ],
      "id": "8b0a5c85-84a9-4d1f-896f-7475c9b74a45",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "automadevv@gmail.com",
          "mode": "list",
          "cachedResultName": "automadevv@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        48,
        224
      ],
      "id": "dc2bb4c1-3f22-42c1-9afd-a03e08927492",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "P9h5geBu7FMAbcLa",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "876",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        256
      ],
      "id": "3c79cb45-64b6-4ecb-9a89-f68e67f24f61",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "automadevv@gmail.com",
          "mode": "list",
          "cachedResultName": "automadevv@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        224,
        256
      ],
      "id": "b10d8a1a-4142-439e-81a0-d8a9e9c32a32",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "P9h5geBu7FMAbcLa",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -240,
        272
      ],
      "id": "1f557a9f-645e-469a-b1ab-1666b9000af0",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Yb9HvsLPf6yapYDh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api-for-calender",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        -48
      ],
      "id": "cd00634c-cdd9-4d06-a2b7-ac856a013ad0",
      "name": "Webhook",
      "webhookId": "fe18786b-0c58-4bc1-8da5-332dc7e8a3d7"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        32
      ],
      "id": "67854fb3-b434-489f-8e18-488d5fdff4ef",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b184bdc0-42ad-4082-8224-2723d2dae9cf",
              "name": "test",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "dc5ce420-bdab-4406-9a34-ca104561939f",
              "name": "webhook",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        -48
      ],
      "id": "d70d1665-1852-40a5-b0e7-3fc2c7ea5da3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2e88e613-f899-4622-aeba-a5db30aa5e8c",
              "leftValue": "={{ $('Edit Fields').item.json.webhook }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        48
      ],
      "id": "054e1fe3-1b63-4ead-90c2-d103a627985d",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5098b509-57ca-4e85-82dd-e93f6d1cc41f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "566fda432d8a4bfbf3f407b381ca775c4192d2038754dc015536285d18d8ad96"
  },
  "id": "jfDZkPlANNaRqki3",
  "tags": []
}