Telegram Chatbot.json
{
  "name": "Telegram Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        112
      ],
      "id": "94705594-4477-48a0-982f-22b240479b8e",
      "name": "Telegram Trigger",
      "webhookId": "c39f7857-5991-47b8-9392-34eed769b582",
      "credentials": {
        "telegramApi": {
          "id": "CZQqzlAfSxd183cP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You're a personal assistant that helps users fulil their request \n\nwhen asked to perform a task on the current date, use the current date and time : {{ $now }}\n\n##output\n\nyou should output the result and don't include anything unncessary. Just make sure that you politely answer user question and ask if any other question is required \n\nif there is anything related to task please make sure to use the tool 'get_many_google_task_tool' to get the task as user want. and make the output summarized without any links\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        864,
        112
      ],
      "id": "b39f8e7c-fe8b-4673-b8a5-e0ac76fcd10c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        352
      ],
      "id": "bf12abe4-d93b-430c-924e-5c8f41628a98",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oBDL6ZgROeGyareB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e527ea2-f784-48d0-9ce0-6f9771ef5ff4",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "22f5f32f-6afd-48ec-b7d6-e63a7ef2ab21",
              "name": "message.chat.id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        16
      ],
      "id": "736f09e6-e026-42e3-8a5e-dc4d40f1204e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        112
      ],
      "id": "0785406b-9bf4-4e91-b81b-1b74fd54afbf",
      "name": "Send a text message",
      "webhookId": "6cc21db1-c2c9-4387-a21a-07e2f38c0b27",
      "credentials": {
        "telegramApi": {
          "id": "CZQqzlAfSxd183cP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        816,
        336
      ],
      "id": "cc0529dd-13ae-4aa0-aef7-2a87b556896b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9da633c4-20bf-4972-a6ea-bb244f092ec3",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5b95cdf1-946f-4d8b-bbbd-fa30530ca02f",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -160,
        112
      ],
      "id": "1a4861e8-abd2-4350-9b06-c44c6971e774",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        208
      ],
      "id": "f78480de-a86b-460d-b05c-4b0afc943b5c",
      "name": "Get a file",
      "webhookId": "f67efb99-0975-4cbf-a788-e24b5df993c3",
      "credentials": {
        "telegramApi": {
          "id": "CZQqzlAfSxd183cP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcb390cf-4700-4bf4-b3c0-1b869199c8ca",
              "name": "message.text",
              "value": "{{json.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        208
      ],
      "id": "b69bd364-3cee-418a-92a3-89bd87980042",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        288,
        208
      ],
      "id": "d8fab027-3d59-46fc-8c00-7b5ce41629f0",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "jehkQdzI51NQneZt",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MTE1MDcxNTM4NjQ5NjI5NzI0NDg6MDow",
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        976,
        384
      ],
      "id": "3f15ffd5-06fa-4da1-b4b3-b8a5a782ef9a",
      "name": "Get many tasks in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "lEM3Du8juvTsRiZA",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "description": "This workflow, helps to create, get or update an event in google calender",
        "workflowId": {
          "__rl": true,
          "value": "jfDZkPlANNaRqki3",
          "mode": "list",
          "cachedResultUrl": "/workflow/jfDZkPlANNaRqki3",
          "cachedResultName": "Google calender agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "test": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('test', ``, 'string') }}",
            "sessionid": "={{ $json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "test",
              "displayName": "test",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionid",
              "displayName": "sessionid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1120,
        336
      ],
      "id": "4bd3deba-baaf-46f6-8a52-6e691b874cce",
      "name": "Call 'Google calender agent'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        320
      ],
      "id": "0e61d2d5-80a0-406b-a1c8-f4b5d25b2f1f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Yb9HvsLPf6yapYDh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Google calender agent'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5f0d0719-25a1-4e4f-baf1-1f39700de873",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "566fda432d8a4bfbf3f407b381ca775c4192d2038754dc015536285d18d8ad96"
  },
  "id": "4utn2dvWDZgvmT7i",
  "tags": []
}